* {
    font-family: "Manrope", sans-serif; 
    
    /* background-color: #C6943B; */
} 

body{
    background-color: #C6943B;
    margin: 0;
}


/* header/navigation */

.topbar{
    color: #9B4129; 
    top: 0;
    left: 0;
    display: block;
    height: 150px;
    position: absolute;
    min-width: 100%;
    margin-top: 0;
    margin-bottom: 2px;
    box-sizing: border-box;
}

.logo {
    font-family: "Playwrite NG Modern", cursive;
    font-size: 30px;
    top: 0;
    padding-left: 15px;
    margin-top: 15px;
    display: flex;
    float:left;
    text-align: center;
}

a{
    color: black;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    float: inline-end;
    position: relative;
    padding: 0 10px;
}

li{
    padding: 10px 20px;
    font-size: 20px;
    line-height: 0 none;
    letter-spacing: 1px;
}

.truck, .sopa, .arroz, .alcapurrias {
    max-width: 100%;
    margin: 0;
}

.truck{
    padding-top: 10rem;
    width: 100%;
}

.alcapurrias{
    float: right;
}

.arroz {
    float: right;
    width: 340px;
}

.sopa{
    float: right;
    width: 360px;
}



.footer{
    color: black;
    background-color: #9B4129; 
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
    
    height: 60px;
}

.footer-text{
    font-family: "Playwrite NG Modern", cursive;
    font-size: 30px;
}