* {
    font-family: "Manrope", sans-serif; 
} 

body{
    background-color: #ffc45d;
    margin: 0;
}

.topbar{
    color: #9B4129; 
    top: 0;
    left: 0;
    display: block;
    height: 150px;
    position: absolute;
    min-width: 100%;
    margin-top: 0;
    margin-bottom: 2px;
    box-sizing: border-box;
}

.logo {
    font-family: "Playwrite NG Modern", cursive;
    font-size: 30px;
    top: 0;
    padding-left: 15px;
    margin-top: 15px;
    display: flex;
    float:left;
    text-align: center;
}

a{
    color: black;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    float: inline-end;
    position: relative;
    padding: 0 10px;
}

li{
    padding: 10px 20px;
    font-size: 20px;
    line-height: 0 none;
    letter-spacing: 1px;
}

.truck, .sopa, .arroz {
    max-width: 100%;
    margin: 0;
}

.truck{
    padding-top: 10rem;
    width: 100%;
}



.arroz {
    float: right;
    width: 340px;
}

.sopa{
    float: right;
    width: 360px;
}



.footer{
    color: black;
    background-color: #9B4129; 
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
    height: 120px;
}

.footer-text{
    font-family: "Playwrite NG Modern", cursive;
    font-size: 30px;
    margin-bottom: 10px;
}

i{
    font-size: 3rem;
    letter-spacing: 30px;
}

video{
    width: 320;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 800px) {
    ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    li{
        font-size: 17px;
    }
    
    .sopa{
        float: right;
        width: 360px;
    }

        .arroz {
        width: 340px;
    }

    i{
        font-size: 2.3rem;
        letter-spacing: 15px;
        align-items: center;
    }

    video{
        width: 300px;
    }
}

@media screen and (max-width: 500px){
    
    body{
        font-size: 14px;
    }

    .logo{
        font-size: 25px;
    }

    ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    li{
        font-size: 15px;
    }


    .truck{
        padding-top: 10rem;
        max-width: 100%;
        margin: 0;
    }
    
    
    .arroz {
        float: right;
        width: 190px;
    }
    
    .sopa{
        float: right;
        width: 190px;
    }

    .footer-text{
        font-size: 20px;
    }

    i{
        font-size: 2rem;
        letter-spacing: 15px;
        align-items: center;
    }

    video{
        width: 260px;
    }
}

@media screen and (max-width: 400px) {
    .logo{
        font-size: 20px;
    }

    ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    li{
        font-size: 13px;
    }

    .sopa{
        float: right;
        width: 160px;
    }

    i{
        font-size: 1.8rem;
        letter-spacing: 15px;
    }

    video{
        width: 220px;
    }
}

@media screen and (max-width: 350px) {
    .logo{
        font-size: 15px;
    }

    ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    li{
        font-size: 10px;
    }

    .arroz {
        float: right;
        width: 160px;
    }

    i{
        letter-spacing: 10px;
        align-items: center;
    }

    video{
        width: 220px;
    }
}
